<launch>
  <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">

    <param name="resolution" value="0.1" />
    <param name="frame_id" type="string" value="world" />
    <param name="sensor_model/max_range" value="1000.0" />
    <param name="latch" value="true" />

    <!-- max/min height for occupancy map, should be in meters -->
    <param name="pointcloud_max_z" value="0" />
    <param name="pointcloud_min_z" value="-1.4" />
    <param name="save_directory" value="$(optenv OCTOMAP_SAVE_DIR2 ./)" />
    <param name="track_changes" value="false"/>
    <param name="listen_changes" value="true"/>
    <!--<param name="filter_ground" value="true" /> -->
    <!--<param name="ground_filter/distance" value="1" /> -->
    <!-- topic from where pointcloud2 messages are subscribed -->
    <remap from="cloud_in" to="/velodyne_points1" />

  </node>

</launch>

